.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.cardForm{
  background-color:#E6E6FA;
  padding:.5em;
}

.card {
  border:1px solid #CCC;
}
.deckList li{
  padding:.4em;
}

.deckList .counter{
  color:#FFF;
  background-color:#cc317c;
  padding:.2em;
}